

.appWrapper {
	font-size: 10pt;
	font-family: sans-serif;
}

.appFooter {
	margin-top: 24px;
	border-top: 0px solid #ccc;
	padding-top: 24px;
	text-align: center;
	margin-bottom: 24px;
}


/* Styled Table */
/* https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */

.styled-table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	font-family: sans-serif;
	min-width: 400px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	width: 100%;
}

.styled-table th,
.styled-table td {
	font-size: 10pt;
	padding: 6px;
}

.styled-table thead tr {
	background-color: #607799;
	color: #ffffff;
	text-align: left;
}

.styled-table tbody tr {
	border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.styled-table tbody tr.active-row {
	font-weight: bold;
	color: #009879;
}

.styled-table tbody tr:hover {
	background-color: #ffff99;
}
